.select__wrapper {
    margin-bottom: 10px;
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0;
    border-style: solid;
    border-width: 0px;
    position: relative;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
}

.s2 {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-direction: row;
    flex-shrink: 1;
    border-style: solid;
    border-width: 1px;
    position: relative;
    min-height: 0px;
    min-width: 0px;
    background-color: rgb(255, 255, 255);
    border-color: rgb(150, 147, 145);
    flex-grow: 1;
    height: 60px;
    justify-content: space-between;
    padding: 15px;
    transition: border-color 0.2s ease 0s;
    border-radius: 5px;
}

.s3 {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 1;
    border-style: solid;
    border-width: 0px;
    position: relative;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    flex-grow: 0;
    top: -16px;
    width: 100%;
}

.s4 {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0;
    border-style: solid;
    border-width: 0px;
    position: relative;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    background-color: rgba(255, 255, 255, 0);
    pointer-events: none;
    padding-left: 0px;
    width: 100%;
    transform: translateY(5px);
}

.s5 {
    max-width: 100%;
    color: rgb(120, 117, 115);
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    text-rendering: geometricprecision;
    text-size-adjust: none;
}

.s5_prime {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0;
    border-style: solid;
    border-width: 0px;
    position: absolute;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    color: rgb(23, 23, 23);
    font-weight: 500;
    font-size: 16px;
    left: 0px;
    overflow: hidden;
    text-rendering: geometricprecision;
    text-overflow: ellipsis;
    top: 0px;
    -webkit-font-smoothing: antialiased;
    white-space: nowrap;
    width: 100%;
    transform: translateY(30px);
}

.s6 {
    cursor: pointer;
    height: 60px;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    appearance: menulist-button;
    width: 100%;
    z-index: 2
}

.s7 {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0;
    border-style: solid;
    border-width: 0px;
    position: relative;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    align-self: center;
    padding-left: 5px;
}

.s8 {
    box-sizing: border-box;
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-shrink: 0;
    border-style: solid;
    border-width: 0px;
    position: absolute;
    z-index: 0;
    min-height: 0px;
    min-width: 0px;
    height: 60px;
    left: 0px;
    width: 100%;
}